# build
*.js
*.js.map
*.d.ts

# include js scripts
!scripts/*.js

# include types
!**/types/*.d.ts

# include jest config
!jest.config.js
!.eslintrc.js

# include dist directory
!dist/**/*.js
!dist/**/*.js.map
!dist/**/*.d.ts

# npm
node_modules
npm_debug.log*

# vscode
.vscode

# idea
.idea


